@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* typography */

html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt';
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

body {
  margin: 0;
  font-family: "helvetica neue", sans-serif;
  background-color: #f9f9f9;
}

.App {
  padding: 1em;
  text-align: center;
}

h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 64px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

thead th,
tfoot th {
  font-family: "Rock Salt", cursive;
}

th,
td {
  padding: 10px;
}

thead th:nth-child(1),
tbody td:nth-child(1),
tfoot th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2),
tbody td:nth-child(2),
tfoot th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3),
tbody td:nth-child(3),
tfoot th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4),
tbody td:nth-child(4),
tfoot th:nth-child(4) {
  width: 30%;
}

.content_td {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

tbody tr:nth-child(odd) {
  background-color: #fff0c7;
}

/* Column Size for thead */


/* Column size for tbody */
